* {
    margin: 0;
    padding:0
}
body{
    background-image: url(/bg.jpeg);
}
.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: white solid 2px;
}

.logo {
    width: 200px;
    align-self: center;
}

.center-button {
    height: 100px;
    align-self: center;
    border: none;
    background: none;
}

.center-button:hover {
    transition-duration: 2s;
    transform: rotate(360deg);
    filter: grayscale(100%);
}

.top-button {
    margin-bottom: 40px;
    height: 100px;
    width: 100px;
    align-self: center;
    border: none;
    background: none;
}

.top-button:hover{
    transform: scale(2);
    transition-duration: 2s;
}

.bottom-button {
    margin-top: 40px;
    height: 100px;
    width: 100px;
    align-self: center;
}

.left-button {
    height: 100px;
    width: 100px;
    margin-left: 400px;
}