.main {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
    align-self: center;
}

.main-button {
    height: 100px;
    align-self: center;
    border: none;
    background: none;
}

.main-button:hover {
    transition-duration: 2s;
    transform: rotate(360deg);
    filter: invert(70%);
}

